<div class="fixed_header">
  <h2>Nomnio Test</h2>
</div>


<ion-content>

  <div class="resizable_content">

    <ul *ngFor="let language of languages">
      <li (click)="changeLang(language);" class="lang"> > {{ 'LANGUAGES.' + language | translate }}</li>
    </ul>


    <div>
      <p *ngIf="loading">{{ 'LOADING' | translate  }}</p>
      <p>{{ 'CLICK_TO_LOAD' | translate  }}</p>
      <button (click)="loadWeather();">{{ 'LOAD' | translate  }}</button>
      <hr>
    </div>

    <div>
      <div class="timestamp">
        <p class="city">{{this.weather.cityName}}</p>
        <p class="date">{{this.refreshTime}}</p>
      </div>

      <div class="forecasts">
        <div class="forecast_now">
          <p class="data">{{this.weather.currentTemperature}}°C</p>
          <p class="data">{{this.weather.description}}</p>
          <p class="data">{{this.weather.minTemperature}}°C - {{this.weather.maxTemperature}}°C</p>
        </div>

        <div class="forecast_five">
          <p class="data">{{this.dd[0].date}} - {{this.dd[0].currentTemperature}}°C</p>
          <p class="data">{{this.dd[1].date}} - {{this.dd[1].currentTemperature}}°C</p>
          <p class="data">{{this.dd[2].date}} - {{this.dd[2].currentTemperature}}°C</p>
          <p class="data">{{this.dd[3].date}} - {{this.dd[3].currentTemperature}}°C</p>
          <p class="data">{{this.dd[4].date}} - {{this.dd[4].currentTemperature}}°C</p>
        </div>
      </div>

    </div>

  </div>
</ion-content>